<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span>Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
          <span>{{ category.parent }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ category.title }}</span>
        </dd>
        <dt><span>Sub Title</span></dt>
        <dd>
          <span>{{ category.subTitle }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ category.imageUrl }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ category.description }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ category.country }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ category.code }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ category.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
