<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dealType">
      <h2 data-cy="dealTypeDetailsHeading"><span>Deal Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dealType.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ dealType.title }}</span>
        </dd>
        <dt><span>Sub Title</span></dt>
        <dd>
          <span>{{ dealType.subTitle }}</span>
        </dd>
        <dt><span>Icon</span></dt>
        <dd>
          <span>{{ dealType.icon }}</span>
        </dd>
        <dt><span>Bg Color</span></dt>
        <dd>
          <span>{{ dealType.bgColor }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ dealType.country }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ dealType.code }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ dealType.status }}</span>
        </dd>
        <dt><span>Display</span></dt>
        <dd>
          <span>{{ dealType.display }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/deal-type', dealType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
