<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dealType">
      <h2 data-cy="dealTypeDetailsHeading"><span>Deal Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dealType.id }}</span>
        </dd>
        <dt><span>Deal Type</span></dt>
        <dd>
          <span>{{ dealType.dealType }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ dealType.description }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ dealType.imageUrl }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/deal-type', dealType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
