<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="slide">
      <h2 data-cy="slideDetailsHeading"><span>Slide</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ slide.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ slide.title }}</span>
        </dd>
        <dt><span>Sub Title</span></dt>
        <dd>
          <span>{{ slide.subTitle }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ slide.status }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ slide.country }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ slide.startDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ slide.endDate }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ slide.imageUrl }}</span>
        </dd>
        <dt><span>Merchant Icon</span></dt>
        <dd>
          <span>{{ slide.merchantIcon }}</span>
        </dd>
        <dt><span>Deal Url</span></dt>
        <dd>
          <span>{{ slide.dealUrl }}</span>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
          <span>{{ slide.tags }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/slide', slide.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
